h1 {
    text-align: center;
    font-size: 38px;
}

p.larger {
    font-weight: 300;
    font-size: 20px;
}

.dark-purple-bg {
    background: #262261;
}

.dark-purple-bg h2 {
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    margin: 0 3em 0 3em;
}