.headline h1 {
    font-size: 48px;
    line-height: 52px;
    font-weight: 300;
    color: #ffffff;
}

.headline p {
    color: #ffffff;
}

p.larger {
    font-weight: 300;
    font-size: 20px;
}

.dark-purple-bg2 {
    background: #262261;
}
.dark-purple-bg h2 {
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    margin: 0 2em;
}